#GitIgnores
#.gitignore
00-TwitterFollow/.gitignore
01-Gato-TicTacToe/.gitignore

#NodeModules+dist
00-TwitterFollow/node_modules
00-TwitterFollow/dist
00-TwitterFollow/dist-ssr
00-TwitterFollow/*.local
01-Gato-TicTacToe/node_modules
01-Gato-TicTacToe/dist
01-Gato-TicTacToe/dist-ssr
01-Gato-TicTacToe/*.local

# Logs
00-TwitterFollow/logs
00-TwitterFollow/*.log
00-TwitterFollow/npm-debug.log*
00-TwitterFollow/yarn-debug.log*
00-TwitterFollow/yarn-error.log*
00-TwitterFollow/pnpm-debug.log*
00-TwitterFollow/lerna-debug.log*
01-Gato-TicTacToe/logs
01-Gato-TicTacToe/*.log
01-Gato-TicTacToe/npm-debug.log*
01-Gato-TicTacToe/yarn-debug.log*
01-Gato-TicTacToe/yarn-error.log*
01-Gato-TicTacToe/pnpm-debug.log*
01-Gato-TicTacToe/lerna-debug.log*

# Editor directories and files
00-TwitterFollow/.vscode/*
00-TwitterFollow/!.vscode/extensions.json
00-TwitterFollow/.idea
00-TwitterFollow/.DS_Store
00-TwitterFollow/*.suo
00-TwitterFollow/*.ntvs*
00-TwitterFollow/*.njsproj
00-TwitterFollow/*.sln
00-TwitterFollow/*.sw?
01-Gato-TicTacToe/.vscode/*
01-Gato-TicTacToe/!.vscode/extensions.json
01-Gato-TicTacToe/.idea
01-Gato-TicTacToe/.DS_Store
01-Gato-TicTacToe/*.suo
01-Gato-TicTacToe/*.ntvs*
01-Gato-TicTacToe/*.njsproj
01-Gato-TicTacToe/*.sln
01-Gato-TicTacToe/*.sw?
